html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
}
a {
  text-decoration: none;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
section {
  position: relative;
  display: block;
  box-sizing: border-box;
}
.content-wr {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}
#main{
  min-height: 100vh;
  background: url(img/layer.png), url(img/bg.jpg) center no-repeat fixed ;
  background-size: cover;
}
#main .content-wr{
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
  min-height: 100vh;
  font-family: "Times New Roman", serif;
  color: white;
  font-size: 16px;
}
#main .content-wr h1{
  margin-top: 50px;
}
#myInput{
  box-sizing: border-box;
  width: 50%;
  height: 35px;
  outline: none;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #f4f4f4;
  font-size: 16px;
  padding-left: 10px;
  font-family: Verdana, sans-serif;
}
.addBtn{
  cursor: pointer;
  margin-top: 5px;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
  transition: 0.5s;
}
.addBtn:hover{
  font-size: 22px;
}
ol {
  width: 50%;
  text-align: left;
}
ol li {
  display: flex;
    flex-direction: row;
    justify-content: space-between;
  position: relative;
  cursor: pointer;
  padding: 8px;
  font-size: 18px;
  letter-spacing: 1px;
  transition: 0.5s ease;
  user-select: none;
}
ol li:hover{
  background-color: #aaaaaa;
  letter-spacing: 1px;
}
ol li.checked{
  color: #aaaaaa;
  text-decoration: line-through;
}
#alert{
  color: red;
  margin: 10px;
  font-size: 16px;
}